In [29]:
# Cargar el dataset

import pandas as pd

df = pd.read_csv('credit_risk_dataset.csv')

In [30]:
# Eliminar Outliers de las columnas person_age y person_emp_length

df = df[(df['person_age'] != 144) & (df['person_age'] != 123)]
df = df[df['person_emp_length'] != 123]

In [11]:
# Detectar valores nulos de la columna person_emp_length
# loan_int_rate
column = 'person_emp_length'
null_values = df[df[column].isnull()]
display(null_values)

null_values_in_column = df[column].isnull()
display(null_values_in_column.sum())

Empty DataFrame
Columns: [person_age, person_income, person_home_ownership, person_emp_length, loan_intent, loan_grade, loan_amnt, loan_int_rate, loan_status, loan_percent_income, cb_person_default_on_file, cb_person_cred_hist_length]
Index: []

0

In [28]:
# Completar los valores nulos de la columna person_emp_length utilizando la mediana

median_emp_length = df['person_emp_length'].median()
print(median_emp_length)
df['person_emp_length'].fillna(median_emp_length, inplace=True)

4.0

In [9]:
# Completar valores vacios de person_emp_length utilizando informacion de loan_grade

import pandas as pd

# Calcular la mediana de la columna person_emp_length para cada categoría de loan_grade
median_emp_length_by_grade = df.groupby('loan_grade')['person_emp_length'].median()

# Función de imputación basada en la mediana por categoría
def impute_emp_length(row):
    if pd.isnull(row['person_emp_length']):
        return median_emp_length_by_grade.get(row['loan_grade'], row['person_emp_length'])
    return row['person_emp_length']

# Aplicar la función de imputación a los valores faltantes
df['person_emp_length'] = df.apply(impute_emp_length, axis=1)

person_age
20     4.0
21     3.0
22     4.0
23     4.0
24     4.0
25     4.0
26     4.0
27     4.0
28     4.0
29     4.0
30     4.0
31     4.0
32     4.0
33     4.0
34     4.0
35     4.0
36     4.0
37     4.0
38     4.0
39     4.0
40     4.0
41     4.0
42     4.0
43     4.0
44     4.5
45     5.0
46     4.5
47     4.0
48     4.0
49     4.5
50     4.0
51     3.0
52     3.0
53     3.0
54     5.5
55     3.0
56     6.5
57     2.0
58     5.0
59    14.0
60     2.0
61     3.0
62     2.0
63    13.0
64     2.0
65     3.0
66     3.0
67     2.0
69     3.0
70     0.5
73     0.0
76    23.0
78    41.0
80     7.0
84     2.0
94     1.0
Name: person_emp_length, dtype: float64

In [62]:
# Detectar valores nulos en una columna especifica
# loan_int_rate
column = 'person_emp_length'
null_values = df[df[column].isnull()]
display(null_values)

null_values_in_column = df[column].isnull()
display(null_values_in_column.sum())

Empty DataFrame
Columns: [person_age, person_income, person_home_ownership, person_emp_length, loan_intent, loan_grade, loan_amnt, loan_int_rate, loan_status, loan_percent_income, cb_person_default_on_file, cb_person_cred_hist_length]
Index: []

0

In [15]:
# Detectar valores nulos de la columna loan_int_rate
column = 'loan_int_rate'
null_values = df[df[column].isnull()]
display(null_values)

null_values_in_column = df[column].isnull()
display(null_values_in_column.sum())

Empty DataFrame
Columns: [person_age, person_income, person_home_ownership, person_emp_length, loan_intent, loan_grade, loan_amnt, loan_int_rate, loan_status, loan_percent_income, cb_person_default_on_file, cb_person_cred_hist_length]
Index: []

0

In [13]:
# Completar los valores nulos de la columna loan_int_rate utilizando la mediana

median_loan_int_rate = df['loan_int_rate'].median()
print(median_loan_int_rate)
# df['loan_int_rate'].fillna(median_loan_int_rate, inplace=True)

10.99

In [14]:
# Completar valores vacios de loan_int_rate utilizando informacion de loan_grade

import pandas as pd

# Calcular la mediana de la columna person_emp_length para cada categoría de loan_grade
median_loan_int_rate_by_grade = df.groupby('loan_grade')['loan_int_rate'].median()

display(median_loan_int_rate_by_grade)

# Función de imputación basada en la mediana por categoría
def impute_int_rate(row):
    if pd.isnull(row['loan_int_rate']):
        return median_loan_int_rate_by_grade.get(row['loan_grade'], row['loan_int_rate'])
    return row['loan_int_rate']

# # Aplicar la función de imputación a los valores faltantes
df['loan_int_rate'] = df.apply(impute_int_rate, axis=1)

loan_grade
A     7.490
B    10.990
C    13.480
D    15.310
E    16.820
F    18.535
G    20.160
Name: loan_int_rate, dtype: float64

In [18]:
loan_intent_groups= {
    'DEBTCONSOLIDATION': 1,
    'EDUCATION': 2,
    'HOMEIMPROVEMENT': 3,
    'MEDICAL': 4,
    'PERSONAL': 5,
    'VENTURE': 6
}

person_home_ownership_groups = {
    'MORTGAGE': 1,
    'OTHER': 2,
    'OWN': 3,
    'RENT': 4
}

loan_grade_groups = {
    'A': 1,
    'B': 2,
    'C': 3,
    'D': 4,
    'E': 5,
    'F': 6,
    'G': 7
}

cb_person_default_on_file_groups = {
    'N': 1,
    'Y': 0
}

df['person_home_ownership'] = df['person_home_ownership'].map(person_home_ownership_groups)
df['loan_intent'] = df['loan_intent'].map(loan_intent_groups)
df['loan_grade'] = df['loan_grade'].map(loan_grade_groups)
df['cb_person_default_on_file'] = df['cb_person_default_on_file'].map(cb_person_default_on_file_groups)

In [19]:
display(df.groupby('person_home_ownership').size().reset_index(name='counts'))
# display(df)

   person_home_ownership  counts
0                      1   13441
1                      2     107
2                      3    2584
3                      4   16442

In [25]:
# Importing the library 
from sklearn.preprocessing import StandardScaler
  
# define standard scaler 
scaler = StandardScaler() 
  
# transform data
df = scaler.fit_transform(df)

In [48]:
from sklearn.preprocessing import OneHotEncoder

person_home_ownership_groups = {
    'MORTGAGE': 1,
    'OTHER': 2,
    'OWN': 3,
    'RENT': 4
}

numbers =  pd.DataFrame(df['person_home_ownership'].map(person_home_ownership_groups))
# display(numbers)
numbers = numbers.rename(columns={'person_home_ownership': 'person_home_ownership_number'})

new_df = df['person_home_ownership']

final = pd.concat([new_df, numbers], axis=1)

encoder = OneHotEncoder()

encoder.fit(final)
display(encoder.transform(final))

display(encoder)

<32574x8 sparse matrix of type '<class 'numpy.float64'>'
	with 65148 stored elements in Compressed Sparse Row format>

OneHotEncoder()