In [2]:
# Cargar el dataset
import pandas as pd

df = pd.read_csv('credit_risk_dataset.csv')

In [3]:
# Eliminar Outliers de las columnas person_age y person_emp_length
# df2 = pd.DataFrame(df[(df['person_age'] != 144) & (df['person_age'] != 123)])
# df3 = pd.DataFrame(df2[df2['person_emp_length'] != 123])

df = df.loc[~((df['person_age'] == 123) | (df['person_age'] == 144) | (df['person_emp_length'] == 123))]
df = df.reset_index(drop=True)

# display(df3)

In [4]:
# Detectar valores nulos de la columna person_emp_length
column = 'person_emp_length'
null_values = df[df[column].isnull()]
display(null_values)

null_values_in_column = df[column].isnull()
display(null_values_in_column.sum())

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
103,22,12600,MORTGAGE,NaN,PERSONAL,A,2000,5.42,1,0.16,N,4
218,24,185000,MORTGAGE,NaN,EDUCATION,B,35000,12.42,0,0.19,N,2
375,24,16800,MORTGAGE,NaN,DEBTCONSOLIDATION,A,3900,NaN,1,0.23,N,3
403,25,52000,RENT,NaN,PERSONAL,B,24000,10.74,1,0.46,N,2
404,22,17352,MORTGAGE,NaN,EDUCATION,C,2250,15.27,0,0.13,Y,3
...,...,...,...,...,...,...,...,...,...,...,...,...
32279,38,12000,OWN,NaN,EDUCATION,A,4800,7.29,1,0.40,N,12
32321,51,18408,RENT,NaN,PERSONAL,C,1000,14.65,1,0.05,Y,20
32353,70,39996,RENT,NaN,MEDICAL,C,3600,15.23,0,0.09,Y,19
32446,56,32400,RENT,NaN,MEDICAL,A,8575,7.51,0,0.26,N,18
32464,53,54000,RENT,NaN,MEDICAL,D,10000,14.59,1,0.19,Y,27

895

In [5]:
# Completar los valores nulos de la columna person_emp_length utilizando la mediana

median_emp_length = df['person_emp_length'].median()
display(median_emp_length)
df['person_emp_length'].fillna(median_emp_length, inplace=True)

4.0

In [6]:
# Completar valores vacios de person_emp_length utilizando informacion de loan_grade

# Calcular la mediana de la columna person_emp_length para cada categorÃ­a de loan_grade
median_emp_length_by_grade = df.groupby('loan_grade')['person_emp_length'].median()

# FunciÃ³n de imputaciÃ³n basada en la mediana por categorÃ­a
def impute_emp_length(row):
    if pd.isnull(row['person_emp_length']):
        return median_emp_length_by_grade.get(row['loan_grade'], row['person_emp_length'])
    return row['person_emp_length']

# Aplicar la funciÃ³n de imputaciÃ³n a los valores faltantes
df['person_emp_length'] = df.apply(impute_emp_length, axis=1)

In [7]:
# Detectar valores nulos de la columna loan_int_rate
column = 'loan_int_rate'
null_values = df[df[column].isnull()]
display(null_values)

null_values_in_column = df[column].isnull()
display(null_values_in_column.sum())

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
38,23,71500,RENT,3.0,DEBTCONSOLIDATION,D,30000,NaN,1,0.42,N,4
49,24,78000,RENT,4.0,DEBTCONSOLIDATION,D,30000,NaN,1,0.38,Y,4
56,23,277000,OWN,3.0,PERSONAL,A,35000,NaN,0,0.13,N,4
58,24,12000,OWN,2.0,VENTURE,E,1750,NaN,0,0.15,Y,3
61,26,263000,MORTGAGE,0.0,EDUCATION,B,10000,NaN,1,0.04,N,4
...,...,...,...,...,...,...,...,...,...,...,...,...
32540,53,4888,OWN,0.0,VENTURE,C,1400,NaN,1,0.29,Y,28
32545,65,45900,RENT,2.0,EDUCATION,C,10000,NaN,0,0.22,Y,19
32546,54,20000,RENT,2.0,MEDICAL,C,5000,NaN,0,0.25,N,28
32562,51,60000,MORTGAGE,1.0,PERSONAL,A,7500,NaN,0,0.13,N,23
32563,58,72000,RENT,5.0,HOMEIMPROVEMENT,B,4500,NaN,0,0.06,N,23

3115

In [8]:
# Completar los valores nulos de la columna loan_int_rate utilizando la mediana

median_loan_int_rate = df['loan_int_rate'].median()
print(median_loan_int_rate)
df['loan_int_rate'].fillna(median_loan_int_rate, inplace=True)

10.99

In [9]:
# Completar valores vacios de loan_int_rate utilizando informacion de loan_grade

# Calcular la mediana de la columna person_emp_length para cada categorÃ­a de loan_grade
median_loan_int_rate_by_grade = df.groupby('loan_grade')['loan_int_rate'].median()

display(median_loan_int_rate_by_grade)

# FunciÃ³n de imputaciÃ³n basada en la mediana por categorÃ­a
def impute_int_rate(row):
    if pd.isnull(row['loan_int_rate']):
        return median_loan_int_rate_by_grade.get(row['loan_grade'], row['loan_int_rate'])
    return row['loan_int_rate']

# Aplicar la funciÃ³n de imputaciÃ³n a los valores faltantes
df['loan_int_rate'] = df.apply(impute_int_rate, axis=1)

loan_grade
A     7.51
B    10.99
C    13.43
D    15.21
E    16.70
F    18.43
G    20.11
Name: loan_int_rate, dtype: float64

In [10]:
loan_intent_groups= {
    'DEBTCONSOLIDATION': 1,
    'EDUCATION': 2,
    'HOMEIMPROVEMENT': 3,
    'MEDICAL': 4,
    'PERSONAL': 5,
    'VENTURE': 6
}

person_home_ownership_groups = {
    'MORTGAGE': 1,
    'OTHER': 2,
    'OWN': 3,
    'RENT': 4
}

loan_grade_groups = {
    'A': 1,
    'B': 2,
    'C': 3,
    'D': 4,
    'E': 5,
    'F': 6,
    'G': 7
}

cb_person_default_on_file_groups = {
    'N': 1,
    'Y': 0
}

df['person_home_ownership'] = df['person_home_ownership'].map(person_home_ownership_groups)
df['loan_intent'] = df['loan_intent'].map(loan_intent_groups)
df['loan_grade'] = df['loan_grade'].map(loan_grade_groups)
df['cb_person_default_on_file'] = df['cb_person_default_on_file'].map(cb_person_default_on_file_groups)

df.to_csv('tree.csv', index=False)